<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}

        <div class="col-lg-8">
          <img src="/img/logo.png" class="logo" />
          {{ if eq .Paginator.PageNumber 1 }}
            <article>
              {{ .Content }}
            </article>
          {{ end }}

          <h3>Featured: <em>{{ .Title }}</em>
            <span class='pages'>(Page {{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }})</span> &raquo;
          </h3>

          {{ range (.Paginate .Pages).Pages }}
            {{ partial "portfolio-block.html" . }}
          {{ end }}

          <div style="text-align: center;">
          {{- template "_internal/pagination.html" . }}
          </div>

        <hr/>
</div>
</div>
