<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<style>
.content-column-content ul li:before {
	margin: 0 !important;	
}
h5 {
	width: 15%;
}
ul {
	width: 80%;
}
</style>

<body>
  <a name="top" id="top"></a>
  <div id="all">
      <div class="container-fluid">
          <div class="row row-offcanvas row-offcanvas-left">
              {{ partial "sidebar.html" . }}
              
			  <div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
				  {{ partial "mobile_nav_toggle.html" . }}
				  {{ .Content }}
				  <div class="row">
				    <div class="col-lg-8">
				      <div class="content-column-content">

				      		<h4>By Tag</h4>
							{{ partial "taglist.html" . }}
				         	<hr style="clear: both;"/>

				         	<h4>By Article</h4>

						    {{ with .Site.GetPage "section" "articles" }}	
						    	{{ partial "articlelist.html" . }}
					      	{{ end }}

				      </div>
				    </div>
				  </div>
			  </div>

          </div>
      </div>
  </div>

	{{ partial "footer.html" . }}
</body>
</html>
