<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
{{ partial "head.html" . }}
</head>
<body>
  <div id="skiptocontent">
      <a href="#top">skip to main content</a>
  </div>

  {{ with .OutputFormats.Get "RSS" }}
    <a href="{{ .RelPermalink }}" id="csslink" class="no-border">
      <img src="/img/rss.png" alt="get RSS feed" class="no-border" />
    </a>
  {{ end }}
  <div id="all">
      <div class="container-fluid">
          <div class="row row-offcanvas row-offcanvas-left">
              {{ partial "sidebar.html" . }}
              <a name="top" id="top"></a>
              <main>
                {{ block "main" . }}
                {{ end }}
              </main>
          </div>
      </div>
  </div>
  {{ partial "scripts.html" . }}
  <a name="bottom" id="bottom"></a>
  {{ partial "footer.html" . }}
</body>
</html>
