<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<style>
article ul li:before {
	margin: 0 !important;	
}
article h5 {
	width: 15%;
}
article ul {
	width: 80%;
}
</style>

<body>
  <a name="top" id="top"></a>
  <div id="all">
      <div class="container-fluid">
          <div class="row row-offcanvas row-offcanvas-left">
              {{ partial "sidebar.html" . }}
              
			  <div class="col-xs-12 col-sm-8 col-md-9 content-column">
				  {{ partial "mobile_nav_toggle.html" . }}
				  <div class="row">
				    <div class="col-lg-8">
				    	<article>
		  					{{ .Content }}
		  				</article>
				      	<article>

				      		<h3><a name="bytag"></a>By Game/Tag</h3>
							{{ partial "taglist.html" . }}
				         	<hr style="clear: both;"/>

				         	<h3><a name="byarticle"></a>By Article</h3>
				         	<hr style="clear: both;"/>

						    {{ with .Site.GetPage "section" "articles" }}	
						    	{{ partial "articlelist.html" . }}
					      	{{ end }}

				      	</article>
				    </div>
				  </div>
			  </div>

          </div>
      </div>
  </div>

  	{{ partial "scripts.html" . }}
	{{ partial "footer.html" . }}

</body>
</html>
